---
import CTA from "../components/CTA.astro";
import Callout from "../components/Callout.astro";
import Feature from "../components/Feature.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import NavBar from "../components/NavBar.astro";
import Testimonies from "../components/Testimonies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <header class="w-full">
    <NavBar />
  </header>
  <main>
    <Hero />
    <Feature />
    <Callout />
    <Testimonies />
    <CTA />
  </main>
  <Footer />
</Layout>

<style></style>
