<section class="mb-[183px] flex justify-center items-center flex-col">
  <p
    class="text-stroke-black text-stroke uppercase mb-[33px] text-accent2 text-[70px] text-center max-w-[895px] opacity-[0.7] leading-[100%]"
  >
    order online or come visit us today
  </p>
  <a
    href="/"
    class="flex items-center justify-center text-stroke-black text-stroke uppercase w-[196px] h-[60px] border border-black bg-accent4 text-accent1"
    >Get started</a
  >
</section>
