<footer
  class="mb-12 p-[76px] w-full bg-accent3 rounded-3xl border border-black"
>
  <div class="flex justify-between w-full mb-[38px]">
    <a
      href="/"
      class="text-stroke-black text-stroke text-accent1 leading-[96%] text-center max-w-[137px] text-[30px] uppercase"
    >
      Burger Heaven</a
    >

    <div>
      <h1
        class="text-stroke-black text-stroke text-[18px] mb-[5px] uppercase text-accent1"
      >
        More
      </h1>
      <ul>
        <li>
          <a
            href="/"
            class="font-mono font-bold text-stroke-black text-stroke text-accent1 mb-[30px] text-[18px]"
            >About</a
          >
        </li>
        <li>
          <a
            href="/"
            class="font-mono font-bold text-stroke-black text-stroke text-accent1 mb-[30px] text-[18px]"
            >Menu</a
          >
        </li>
        <li>
          <a
            href="/"
            class="font-mono font-bold text-stroke-black text-stroke text-accent1 mb-[30px] text-[18px]"
            >Locations</a
          >
        </li>
        <li>
          <a
            href="/"
            class="font-mono font-bold text-stroke-black text-stroke text-accent1 mb-[30px] text-[18px]"
            >Privacy</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h1
        class="text-stroke-black text-stroke text-[18px] mb-[5px] uppercase text-accent1"
      >
        Hours
      </h1>
      <ul>
        <li>
          <p
            class="font-mono font-bold text-stroke-black text-stroke text-accent1 mb-[30px] text-[18px] leading-[165%] max-w-[112px]"
          >
            Open from 11AM to 11PM daily
          </p>
        </li>
      </ul>
    </div>
    <form action="/" method="post">
      <label
        class="uppercase text-accent1 text-stroke-black text-stroke text-[18px]"
        for="email">Join Our Newsletter</label
      >
      <div
        class="px-1 email-input rounded-lg max-w-[402px] h-[60px] border border-accent1 mt-[26px]"
      >
        <input
          type="email"
          name="email"
          required
          class="email-input inline-block h-full bg-transparent"
        />
        <button
          type="submit"
          class="text-accent1 text-stroke-black text-stroke text-[18px] h-full"
          >Submit</button
        >
      </div>
    </form>
  </div>
  <div class="clear-both w-full mb-[38px]">
    <p class="font-sans text-[14px] text-accent1 inline-block float-left">
      Copyright Burger Heaven
    </p>
    <a
      href=""
      class="font-sans text-[14px] text-accent1 inline-block float-right"
      >Privacy Policy</a
    >
  </div>
</footer>
<style>
  .email-input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
</style>
