<nav
  class="mb-[74px] flex h-[50px] navbar w-full items-center text-accent2 text-[18px] clear-both"
>
  <a
    class="text-stroke-black text-stroke mr-auto uppercase text-[30px]"
    href="/">Burger Heaven</a
  >
  <a class="text-stroke-black text-stroke ml-auto mr-[60px] uppercase" href="/"
    >About</a
  >
  <a class="text-stroke-black text-stroke mr-[60px] uppercase" href="/">Menu</a>
  <a
    class="h-full w-[206px] btn uppercase align-middle bg-accent3 flex items-center justify-center"
    href="/"
  >
    <p class="text-accent1">Order Online</p>
  </a>
</nav>
<style>
  .t {
    font-size: 12px;
  }
</style>
